* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  width: 100vw;
  height: 100vh;
}

/* option button */
.ham {
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  display: inline-block;
  position: relative;
  border-radius: 5px;
}
#ham-menu-switch {
  display: none;
}
.ham .line {
  width: 80%;
  height: 5px;
  /* border: solid 2px #000; */
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  background: #26453D;
  opacity: 1;
  transition: all ease-out .4s;
}
.ham .line-1 {
  top: 25%;
}
#ham-menu-switch:checked+.ham .line-1 {
  top: 50%;
  transform:  rotate(45deg);
}
.ham .line-2 {
  top: 50%;
}
#ham-menu-switch:checked+.ham .line-2 {
  opacity: 0;
}
.ham .line-3 {
  top: 75%;
}
#ham-menu-switch:checked+.ham .line-3 {
  top: 50%;
  transform:  rotate(-45deg);
}
#ham-menu-switch:checked ~.list{
  /* display: block; */
  margin-right: 10px;
  position: absolute;
  padding: 10px;
  top: 100px;
  z-index: 1;
  background: #707C74;
  transform: scale(1);
}

/* side-bar  */
.side {
  width: 100%;
  height: 100px;
  /* float: left; */
  background: #707C74;
}
.content {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px 20px;
  /* top: 75px;
  left: 107px; */
}
.profile-img {
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  /* margin-left: 34px; */
  float: left;
  /* background: #fff; */
  background-image: url(./image/profile-img.png);
  background-size: cover;
}

.list {
  /* display: none; */
  margin-right: 10px;
  position: absolute;
  padding: 10px;
  top: 100px;
  z-index: 1;
  background: #707C74;
  transform: scale(0);
  transition: all ease-out .3s;
}
.link {
  width: 80px;
  height: 28px;
  padding: 30px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}
.link+.link {
  margin-top: 10px;
}
.link:hover {
  color: #fff;
  font-weight: bold;
  border-bottom: solid 5px #444;
  /* background: #333; */
}
.link:active {
  /* background: #9e1d24; */
  color: #9e1d24;
}
.link i {
  display: none;
  margin-right: 10px;
  visibility: hidden;
  transition: all ease-out .25s;
}
.link:hover i {
  display: none;
  color: #9e1d24;
  visibility: visible;
}
.link:active i {
  visibility: visible;
  color: #9e1d24;
}

/* wrap */
.wrap {
  width: 100%;
  height: calc(100vh - 100px);
  /* padding-top: 20px; */
  position: relative;
  background: #26453D;
  box-shadow: inset 0 25px 15px -10px #183b33;
}
.box {
  width: 90%;
  /* height: 800px; */
  margin: auto;
  position: relative;
  top: calc((100% - 800px)/2);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 36px;
  background: #444;
  color: #ccc;
  background: #666;
  background-size: cover;
  background-position: 0;
  box-shadow: inset 0 0 25px 0  #666;
  opacity: .7;
  transition: all ease-out .2s;
}
.item:hover {
  opacity: 1;
  box-shadow: none;
}
.item-1 {
  width: 100%;
  height: calc((100% - 100px)/3);
  margin-bottom: 10px;
  background-image: url(./image/card-1.jpg);
}
.item-2 {
  width: 100%;
  height: calc((100% - 100px)/3);
  margin: 0 10px 0 0;
  background-image: url(./image/card-2.jpeg);
}
.item-3 {
  width: 100%;
  height: calc((100% - 100px)/3);
  background-image: url(./image/card-3.jpg);
}
.item+.item {
  margin-top: 10px;
}