* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  width: 100vw;
  height: 100vh;
}

.ham, #ham-menu-switch {
  display: none;
}

/* side-bar  */
.side {
  width: 366px;
  height: 100%;
  float: left;
  background: #707C74;
}
.content {
  width: 150px;
  height: 540px;
  position: relative;
  top: 75px;
  left: 107px;
}
.profile-img {
  width: 150px;
  height: 150px;
  margin-bottom: 62px;
  background-image: url(./image/profile-img.png);
  background-size: cover;
}
.link {
  width: 60%;
  height: 28px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}
.link+.link {
  margin-top: 20px;
}
.link:hover {
  color: #fff;
  font-weight: bold;
  border-left: solid 5px #444;
}
.link:active {
  color: #9e1d24;
}
.link i {
  margin-right: 10px;
  visibility: hidden;
  transition: all ease-out .25s;
}
.link:hover i {
  color: #9e1d24;
  visibility: visible;
}
.link:active i {
  visibility: visible;
  color: #9e1d24;
}
.link p {
}

/* wrap */
.wrap {
  width: calc(100% - 366px);
  height: 100%;
  float: left;
  background: #373C38;
}
.box {
  width: 800px;
  height: 570px;
  position: relative;
  left: calc((100% - 800px)/2);
  top: calc((100% - 570px)/2);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 36px;
  background: #444;
  color: #ccc;
  background-size: cover;
  background-position: 0;
  box-shadow: inset 0 0 25px 0  #666;
  opacity: .7;
  transition: all ease-out .2s;
}
.item:hover {
  opacity: 1;
  box-shadow: none;
}
.item-1 {
  width: 100%;
  height: calc((100% - 10px)/2);
  margin-bottom: 10px;
  background-image: url(./image/card-1.jpg);
}
.item-2 {
  width: calc(( 100% - 10px )/2);
  height: calc(( 100% - 10px )/2);
  margin: 0 10px 0 0;
  float: left;
  background-image: url(./image/card-2.jpeg);
}
.item-3 {
  width: calc(( 100% - 10px )/2);
  height: calc(( 100% - 10px )/2);
  float: right;
  background-image: url(./image/card-3.jpg);
}